@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins';
  background-color: #F9F5EB;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EA5455;
  padding: 10px 40px;
  position: sticky;
  top: 0;
  z-index: 100;
}

header h1 {
  font-size: 25px;
  font-family: 'Unbounded';
}

header input {
  padding: 10px 20px;
  border-radius: 10px;
}

header .buttons {
  display: flex;
  gap: 10px;
}

header .buttons button {
  padding: 10px 20px;
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

header .buttons button:nth-child(1) {
  background-color: black;
}

header .buttons button:nth-child(2) {
  background-color: #E4C988;
}

header .buttons button:nth-child(3) {
  background-color: #7DB9B6;
}

/* KATEGORİLER */
main {
  padding: 30px;
}

.category-wrapper h1 {
  font-size: 40px;

}

.category-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 30px;
}

.category {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.category img {
  width: 100%;
  border-radius: 15px;
}
.category p {
  position: absolute;
  bottom: 10px;
  background-color: white;
  width: 70%;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}

/* Ürünler */
.product-wrapper h1 {
  margin-top: 50px;
  margin-bottom: 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 100px;
  padding: 50px;
}

.card {
  max-width: 250px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 10px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card-footer {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
.card-footer span {
  color: greenyellow;
}
.card-footer button {
  background-color: #EA5455;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

/* MODAL */

#modal-wrapper {
  background-color: rgba(128, 128, 128, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 101;
  display: none;
  place-items: center;
}

.active {
  display: grid !important;
}
.modal {
  background-color: white;
  width: 60vw;
  height: 60vh;
  border-radius: 10px;
  padding: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.toplam-wrapper {
  text-align: center;
  padding-top: 30px;
}
#toplam {
  color: green;
  font-weight: bold;
}
.modal #close-btn {
  width: 50px;
  position: absolute;
  cursor: pointer;
}
.modal-title {
  text-align: center;
  font-family: 'Unbounded';
}

.modal-list {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  overflow: auto;
  flex-grow: 1;
  padding: 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 10px 20px;
  align-items: center;
  gap: 30px;
}
.item .title {
  font-size: 19px;
}
.item .price {
  color: green;
  white-space: nowrap;
}

.item img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.amount {
  background-color: red;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  color: white;
  font-weight: 600;
}